$breakpoint-smallest: 430px;
$breakpoint-xs: 575.98px;
$breakpoint-sm: 767.98px;
$breakpoint-md: 991.98px;
$breakpoint-lg: 1199.98px;
$breakpoint-xl: 1200px;

@mixin media-smallest {
  @media (min-width: 200px) and (max-width: $breakpoint-smallest) {
    @content;
  }
}

@mixin media-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $breakpoint-lg) and (max-width: 1999px) {
    @content;
  }
}

@mixin media-xxl {
  @media (min-width: 2000px) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
