@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
.start-screen-container {
  width: 100vw;
  height: 100vh;
}

.start-screen-hero {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.404)), url("../assets/images/ping-pong-background.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
}
.start-screen-hero .start-screen-login-holder {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  align-items: center;
}
@media (max-width: 575.98px) {
  .start-screen-hero .start-screen-login-holder {
    width: 100vw;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .start-screen-hero .start-screen-login-holder {
    width: 100vw;
  }
}
.start-screen-hero .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 575.98px) {
  .start-screen-hero .login-form {
    width: 30vw;
  }
}
.start-screen-hero .login-form input {
  margin-top: 2vh;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  color: white;
}
@media (max-width: 575.98px) {
  .start-screen-hero .login-form input {
    width: 30vw;
  }
}
.start-screen-hero .login-button {
  margin-top: 2vh;
  background-color: transparent;
  border: 1px solid gray;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 5px;
}
.start-screen-hero .start-screen-heading-holder h2 {
  margin: 0;
}
.start-screen-hero .start-screen-heading-holder {
  width: 65%;
  height: 100%;
  max-width: 70vw;
  margin-left: 10vw;
  align-items: center;
  display: flex;
}
@media (max-width: 575.98px) {
  .start-screen-hero .start-screen-heading-holder {
    width: 100%;
    max-width: 100vw;
    margin-left: 0;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .start-screen-hero .start-screen-heading-holder {
    width: 100%;
    max-width: 100vw;
  }
}
.start-screen-hero h2 {
  font-size: 43px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px black;
}
@media (max-width: 575.98px) {
  .start-screen-hero h2 {
    font-size: 24px;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .start-screen-hero h2 {
    font-size: 20px;
  }
}

.login-button:hover {
  cursor: pointer;
}

.dashboard-screen-container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.dashboard-screen-container .link {
  text-decoration: none;
}
.dashboard-screen-container .nav-wrapper {
  width: 100vw;
  background-color: black;
  display: flex;
  margin: 0;
  height: 7vh;
  align-items: center;
  text-align: center;
}
@media (max-width: 575.98px) {
  .dashboard-screen-container .nav-wrapper {
    height: 6vh;
    align-items: center;
    text-align: center;
    border: none;
  }
}
.dashboard-screen-container .nav-options-holder {
  width: 100vw;
  background-color: black;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-evenly;
  flex-direction: row;
  border: none;
  padding: 0;
  text-align: center;
}
@media (max-width: 575.98px) {
  .dashboard-screen-container .nav-options-holder {
    margin: 0;
  }
}
.dashboard-screen-container .nav-options-holder li {
  color: white;
}
@media (max-width: 575.98px) {
  .dashboard-screen-container .nav-options-holder li {
    font-size: 10px;
    margin: 0 5px 0 5px;
  }
}

.dashboard-screen-hero {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.404)), url("../assets/images/ping-pong-background.jpg") no-repeat center/cover;
  color: white;
}
@media (max-width: 575.98px) {
  .dashboard-screen-hero {
    display: flex;
    justify-content: stretch;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .dashboard-screen-hero {
    display: flex;
    flex-direction: column;
  }
}
.dashboard-screen-hero .dashboard-screen-heading-holder h2 {
  margin: 0;
}
.dashboard-screen-hero .dashboard-screen-heading-holder {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
@media (max-width: 575.98px) {
  .dashboard-screen-hero .dashboard-screen-heading-holder {
    width: 40vw;
    margin: 0;
  }
}
.dashboard-screen-hero h2 {
  font-size: 43px;
  text-shadow: 0 0 1px black;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .dashboard-screen-hero h2 {
    font-size: 24px;
  }
}

li {
  text-decoration: none;
}

.sign-out-button:hover {
  cursor: pointer;
}

.wrapper {
  width: 100vw;
}

.regular-match-hero {
  display: flex;
  text-align: center;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.404)), url("../assets/images/ping-pong-background.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
  flex-direction: column;
}
.regular-match-hero .opponent-holder {
  max-height: 15vh;
  margin: 1vh 0 3vh 0;
}
.regular-match-hero .challenge-btn:hover {
  cursor: pointer;
}

.regular-match-backbtn-holder {
  width: 100vw;
  display: flex;
}
.regular-match-backbtn-holder button {
  margin: 3vh 0 0 3vw;
  background-color: transparent;
  color: white;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid gray;
}

.regular-match-playerinfo-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 2vh 0 3vh 0;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder {
    margin-top: 2vh;
  }
}
.regular-match-playerinfo-holder .player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.regular-match-playerinfo-holder .player-info .player-name {
  margin-bottom: 3vh;
  font-size: 45px;
  color: white;
  letter-spacing: 1px;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .player-name {
    font-size: 25px;
    margin-bottom: 5vh;
  }
}
@media (min-width: 200px) and (max-width: 430px) {
  .regular-match-playerinfo-holder .player-info .player-name {
    margin-bottom: 5vh;
  }
}
.regular-match-playerinfo-holder .player-info .score-title {
  margin: 0;
  font-size: 24px;
  padding: 0;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .score-title {
    margin: 0;
    font-size: 18px;
    padding: 0;
  }
}
.regular-match-playerinfo-holder .player-info .score-points {
  margin: 0;
  font-size: 20px;
  color: #00b3b3;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .score-points {
    margin: 0;
    font-size: 14px;
    padding: 0;
  }
}
.regular-match-playerinfo-holder .player-info .upload-image::-webkit-file-upload-button {
  display: none;
  color: transparent;
}
.regular-match-playerinfo-holder .player-info .image-upload-label:hover {
  cursor: pointer;
}
.regular-match-playerinfo-holder .player-info .image-holder {
  position: relative;
}
.regular-match-playerinfo-holder .player-info .image-holder img {
  height: 15vh;
  width: 8vw;
  margin-bottom: 2vh;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .image-holder img {
    width: 23vw;
    height: 14vh;
  }
}
.regular-match-playerinfo-holder .player-info .image-holder .image-upload-label {
  margin-bottom: 3.4vh;
  margin-left: -4vh;
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: -1;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 2px 8px 2px 8px;
  font-size: 15px;
  background-color: #ffffff;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .image-holder .image-upload-label {
    padding: 0 7px 0px 7px;
  }
}
.regular-match-playerinfo-holder .player-info .image-holder .image-upload-label i {
  font-size: 15px;
  margin-top: 6px;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info .image-holder .image-upload-label i {
    font-size: 10px;
  }
}
.regular-match-playerinfo-holder .player-info button:hover {
  cursor: pointer;
}
.regular-match-playerinfo-holder .player-info h2 {
  font-size: 32px;
}
@media (max-width: 575.98px) {
  .regular-match-playerinfo-holder .player-info img {
    width: 28vw;
    height: 14vh;
  }
  .regular-match-playerinfo-holder .player-info h2 {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.regular-match-gamestats-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 10vh;
}
@media (max-width: 575.98px) {
  .regular-match-gamestats-holder {
    flex-direction: column;
  }
}

.active-games-wrapper {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .active-games-wrapper {
    width: 80vw;
    height: 30vh;
  }
}

.finished-games-wrapper {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .finished-games-wrapper {
    width: 80vw;
    height: 30vh;
  }
}

.profile-image {
  height: 15vh;
  width: 11vw;
  margin-bottom: 2vh;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .profile-image {
    width: 22vw;
    height: 14vh;
  }
}

.win-percentage-title {
  margin: 1vh 0 0 0;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .win-percentage-title {
    font-size: 14px;
  }
}

.win-percentage-figures {
  margin: 0;
  color: #00b3b3;
  font-size: 20px;
  margin-left: 0.7vw;
}
@media (max-width: 575.98px) {
  .win-percentage-figures {
    font-size: 14px;
    margin-left: 2vw;
    margin-top: 4px;
  }
}

.profile-hero {
  height: 100%;
  min-height: 100vh;
}

.results-heading {
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .results-heading {
    font-size: 14px;
  }
}

.wins {
  color: #00b3b3;
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .wins {
    font-size: 14px;
  }
}

.losses {
  color: rgb(179, 0, 60);
}

.challenge-opponent-button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #313838;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #dadddd;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 20px;
  margin-top: 1vh;
}
@media (max-width: 575.98px) {
  .challenge-opponent-button {
    font-size: 12px;
  }
}

.challenge-opponent-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #00b3b3;
  border-color: #00b3b3;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  width: 100vw;
}

.tournament-match-hero {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.404)), url("../../assets/images/ping-pong-background.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
  flex-direction: column;
}

.tournament-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tournament-info .tournament-heading {
  font-size: 20px;
}
@media (max-width: 575.98px) {
  .tournament-info .tournament-heading {
    font-size: 14px;
  }
}
.tournament-info .marker-holder {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .tournament-info .marker-holder {
    font-size: 10px;
  }
}
.tournament-info .marker-holder .plus-marker {
  margin: 0 1vw 0 0;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 10px;
}
@media (max-width: 575.98px) {
  .tournament-info .marker-holder .plus-marker {
    padding: 5px;
  }
}
.tournament-info .all-fields-holder {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
  margin-top: 4vh;
}
.tournament-info .all-fields-holder .player-fields-left-holder {
  margin: 2vh 0vw 0 0;
  display: flex;
  flex-direction: column;
}
.tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-1 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-right: 2vw;
}
.tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-1 p {
  margin: 0;
  font-size: 18px;
}
@media (max-width: 575.98px) {
  .tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-1 p {
    font-size: 12px;
  }
}
.tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-2 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
  display: flex;
  justify-content: space-around;
  margin-right: 2vw;
}
.tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-2 p {
  margin: 0;
}
@media (max-width: 575.98px) {
  .tournament-info .all-fields-holder .player-fields-left-holder .player-field-left-2 p {
    font-size: 12px;
  }
}
.tournament-info .player-fields-right-holder {
  margin: 2vh 0 0 10vw;
}
.tournament-info .player-fields-right-holder .player-field-right-1 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}
.tournament-info .player-fields-right-holder .player-field-right-1 p {
  margin: 0;
}
@media (max-width: 575.98px) {
  .tournament-info .player-fields-right-holder .player-field-right-1 p {
    font-size: 12px;
  }
}
.tournament-info .player-fields-right-holder .player-field-right-2 {
  margin-top: 2vh;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
  width: 20vw;
}
.tournament-info .player-fields-right-holder .player-field-right-2 p {
  margin: 0;
}
@media (max-width: 575.98px) {
  .tournament-info .player-fields-right-holder .player-field-right-2 p {
    font-size: 12px;
  }
}
.tournament-info .final-game {
  margin: 5vh 0 0 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .tournament-info .final-game {
    align-items: center;
    margin: 5vh 0 0 0;
  }
}
.tournament-info .final-game .winner-holder-final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5vw 1vh 0;
}
.tournament-info .final-game .winner-holder-final p {
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .tournament-info .final-game .winner-holder-final p {
    font-size: 12px;
  }
}
.tournament-info .final-game .winner-holder-final select {
  height: 4vh;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}
.tournament-info .final-game .player-field-final {
  width: 40vw;
}
@media (max-width: 575.98px) {
  .tournament-info .final-game .player-field-final {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
.tournament-info .final-game .player-field-final .finalist-1 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
  width: 20vw;
}
@media (max-width: 575.98px) {
  .tournament-info .final-game .player-field-final .finalist-1 {
    font-size: 12px;
  }
}
.tournament-info .final-game .player-field-final .finalist-2 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .tournament-info .final-game .player-field-final .finalist-2 {
    font-size: 12px;
  }
}
.tournament-info .final-game .player-field-final-2 {
  margin: 2vh 0 0 0;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}
.tournament-info .final-game .player-field-final-2 p {
  margin: 0;
  font-weight: 700;
}
.tournament-info .winner-box {
  margin-top: 5vh;
}
@media (max-width: 575.98px) {
  .tournament-info .winner-box {
    font-size: 12px;
  }
}
.tournament-info .winner-holder-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tournament-info .winner-holder-left p {
  margin-bottom: 1vh;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .tournament-info .winner-holder-left p {
    font-size: 12px;
  }
}
.tournament-info .winner-holder-left select {
  height: 4vh;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}
.tournament-info .winner-holder-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tournament-info .winner-holder-right p {
  margin-bottom: 1vh;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .tournament-info .winner-holder-right p {
    font-size: 12px;
  }
}
.tournament-info .winner-holder-right select {
  height: 4vh;
  border: 2px solid gray;
  background-color: gray;
  border-radius: 20px;
  padding: 5px 8px 5px 8px;
}

.loser {
  color: rgb(148, 53, 53);
  text-decoration: line-through;
}

.winner {
  color: rgb(18, 194, 18);
}

.challenge-btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #313838;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #dadddd;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 20px;
  margin-right: 1vw;
  margin-top: 1vh;
}
@media (max-width: 575.98px) {
  .challenge-btn {
    font-size: 9px;
  }
}

.challenge-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #00b3b3;
  border-color: #00b3b3;
}

.tournament-players-buttons {
  display: flex;
  margin-top: 3vh;
  max-width: 70%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tournament-players-button:hover {
  cursor: pointer;
}

.tournament-win-btn {
  background-color: black;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  color: white;
  min-width: 7vw;
  font-size: 16px;
  margin-bottom: 2px;
}
@media (max-width: 575.98px) {
  .tournament-win-btn {
    width: 20vw;
    font-size: 12px;
  }
}

.tournament-win-btn:hover {
  cursor: pointer;
}

.finalist-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.finalist-box button {
  width: -moz-fit-content;
  width: fit-content;
}

.versus {
  margin: 1vh 2vw 1vh 0;
  font-size: 22px;
}
@media (max-width: 575.98px) {
  .versus {
    font-size: 14px;
  }
}

.winner-box-holder {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.winner-box-holder .winner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winner-box-holder .winner-box img {
  height: 15vh;
  width: 8vw;
  margin-bottom: 2vh;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}
@media (max-width: 575.98px) {
  .winner-box-holder .winner-box img {
    width: 22vw;
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .winner-box-holder .winner-box h2 {
    font-size: 30px;
  }
}
.winner-box-holder .winner-box h3 {
  font-size: 25px;
}
.winner-box-holder .play-again {
  margin: 0 0 8vh 0;
}
@media (max-width: 575.98px) {
  .winner-box-holder .play-again {
    font-size: 16px;
    padding: 10px 10px;
  }
}

.scoreboard-hero {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.404)), url("../assets/images/ping-pong-background.jpg") no-repeat center/cover;
  color: white;
  text-align: center;
  flex-direction: column;
}

.scoreboard-info-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;
}

.active-games-stats {
  background-color: rgb(99, 34, 172);
  overflow-y: scroll;
  height: 35vh;
  width: 35vw;
  opacity: 0.8;
  box-shadow: 1px 1px 2px black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 575.98px) {
  .active-games-stats {
    width: 80vw;
    height: 25vh;
  }
}
.active-games-stats ul {
  margin: 0;
  padding: 0;
}
.active-games-stats li {
  list-style-type: none;
  text-align: left;
  margin: 1vh;
}

.active-games-stats::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.active-games-stats::-webkit-scrollbar-track {
  background-color: rgb(104, 104, 104);
  border-radius: 20px;
}

.active-games-stats::-webkit-scrollbar-thumb {
  background-color: rgb(3, 3, 3); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(128, 128, 128); /* creates padding around scroll thumb */
}

.active-games-heading-holder p {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
}
@media (max-width: 575.98px) {
  .active-games-heading-holder p {
    font-size: 14px;
  }
}

.game-wrapper {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 575.98px) {
  .game-wrapper {
    justify-content: center;
    align-items: center;
  }
}
.game-wrapper .players-wrapper {
  text-align: start;
  width: 15vw;
}
@media (max-width: 575.98px) {
  .game-wrapper .players-wrapper {
    width: 45vw;
    justify-content: center;
    text-align: center;
  }
}
.game-wrapper .players-wrapper p {
  font-size: 14px;
  margin: 0;
}
@media (max-width: 575.98px) {
  .game-wrapper .players-wrapper p {
    font-size: 16px;
  }
}
.game-wrapper .select-winner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: flex-start;
}
@media (max-width: 575.98px) {
  .game-wrapper .select-winner-wrapper {
    align-items: center;
  }
}
.game-wrapper .select-winner-wrapper h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .game-wrapper .select-winner-wrapper h5 {
    font-size: 12px;
  }
}
.game-wrapper .select-winner-wrapper button {
  background-color: black;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  color: white;
  min-width: 7vw;
  font-size: 16px;
  margin-right: 1vw;
}
@media (max-width: 575.98px) {
  .game-wrapper .select-winner-wrapper button {
    width: 20vw;
    margin-top: 4px;
    font-size: 12px;
  }
}
.game-wrapper .select-winner-wrapper button:hover {
  cursor: pointer;
}

.backbtn-holder {
  width: 100vw;
  display: flex;
}
.backbtn-holder button {
  margin: 3vh 0 0 3vw;
  background-color: transparent;
  color: white;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid gray;
  font-size: 10px;
}
.backbtn-holder button:hover {
  cursor: pointer;
}

.ball {
  width: 50px;
  height: 50px;
  background-image: radial-gradient(#fff, #c5c5c5 70%);
  border-radius: 50%;
  margin: 5vh 0 0 3vw;
  animation: bounce 1s infinite alternate;
}
@media (max-width: 575.98px) {
  .ball {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 1199.98px) and (max-width: 1999px) {
  .ball {
    margin: 5vh 0 0 3vw;
  }
}

@keyframes bounce {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(-20px);
  }
}
.shadow {
  background: radial-gradient(50% 50%, #000 0%, #222222 100%);
  height: 50px;
  width: 200px;
  animation: grow 1s infinite alternate;
  position: absolute;
  margin: 7vh 0 0 3vw;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .shadow {
    height: 25px;
    width: 100px;
    margin: 3vh 0 0 3vw;
  }
}
@media (min-width: 200px) and (max-width: 430px) {
  .shadow {
    height: 10px;
    width: 45px;
    margin: 5.6vh 0 0 2vw;
  }
}
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .shadow {
    margin: 4.2 0 0 1vw;
  }
}
@media (min-width: 1199.98px) and (max-width: 1999px) {
  .shadow {
    margin: 4.9vh 0 0 1vw;
  }
}
@media (min-width: 2000px) {
  .shadow {
    margin: 3.2vh 0 0 1vw;
  }
}

@keyframes grow {
  from {
    margin-left: 3.7vw;
    height: 10px;
    opacity: 0.4;
    width: 40px;
    @media (max-width: 575.98px) {
      margin-left: 1.2vw;
      height: 5px;
      width: 10px;
    }
    @media (min-width: 200px) and (max-width: 430px) {
      height: 3px;
      width: 4px;
      margin-left: 0.8vw;
    }
  }
  to {
    margin-left: 3.4vw;
    height: 0px;
    opacity: 1;
    width: 6px;
    @media (max-width: 575.98px) {
      margin-left: 0.9vw;
      width: 2px;
    }
    @media (min-width: 200px) and (max-width: 430px) {
      width: 1px;
      margin-left: 0.2vw;
    }
  }
}
.finished-games-stats {
  background-color: rgb(104, 104, 104);
  overflow-y: scroll;
  height: 45vh;
  width: 35vw;
  align-items: center;
  opacity: 0.8;
  box-shadow: 1px 1px 2px black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
}
@media (max-width: 575.98px) {
  .finished-games-stats {
    width: 80vw;
    height: 25vh;
  }
}
.finished-games-stats li {
  list-style-type: none;
  text-align: left;
  margin: 1vh;
}

.finished-games-stats::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.finished-games-stats::-webkit-scrollbar-track {
  background-color: rgb(104, 104, 104);
  border-radius: 20px;
}

.finished-games-stats::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(128, 128, 128); /* creates padding around scroll thumb */
}

.finished-games-heading-holder p {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
}
@media (max-width: 575.98px) {
  .finished-games-heading-holder p {
    font-size: 14px;
  }
}

.finished-games-stats div {
  display: flex;
}
.finished-games-stats div .game-holder {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.finished-games-stats div .game-holder select {
  height: 3vh;
}

.game-players-wrapper {
  display: flex;
  margin: 1vh 0 0 0;
  text-align: center;
}
@media (max-width: 575.98px) {
  .game-players-wrapper {
    justify-content: space-evenly;
  }
}
.game-players-wrapper p {
  margin: 0 1vw;
  font-size: 17px;
}
@media (max-width: 575.98px) {
  .game-players-wrapper p {
    font-size: 17px;
  }
}
.game-players-wrapper .versus-para {
  font-size: 12px;
}
.game-players-wrapper .winner {
  width: 10vw;
}
@media (max-width: 575.98px) {
  .game-players-wrapper .winner {
    width: 25vw;
  }
}
.game-players-wrapper .loser {
  text-align: flex-start;
  width: 10vw;
}
@media (max-width: 575.98px) {
  .game-players-wrapper .loser {
    width: 25vw;
  }
}

.finished-games {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.finished-games .date-time {
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
}
.finished-games .date-time p {
  margin: 0;
  font-size: 11px;
}
@media (max-width: 575.98px) {
  .finished-games .date-time p {
    font-size: 12px;
  }
}

.scoreboard-stats-heading-holder {
  display: flex;
  width: 80vw;
  margin-bottom: 0;
}
.scoreboard-stats-heading-holder .ranking-holder {
  width: 20vw;
  margin: 0 0 0 1vw;
}
@media (max-width: 575.98px) {
  .scoreboard-stats-heading-holder .ranking-holder {
    margin-left: 7px;
    width: 21vw;
  }
}
.scoreboard-stats-heading-holder .player-holder {
  width: 40vw;
}
@media (max-width: 575.98px) {
  .scoreboard-stats-heading-holder .player-holder {
    width: 38vw;
  }
}
.scoreboard-stats-heading-holder h2 {
  text-decoration: underline;
  margin: 0;
}
@media (max-width: 575.98px) {
  .scoreboard-stats-heading-holder h2 {
    font-size: 14px;
  }
}

.scoreboard {
  margin-top: 4vh;
  width: 80vw;
  height: 60vh;
  border: 1px solid gray;
  background-color: gray;
  opacity: 0.7;
  box-shadow: 1px 1px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 575.98px) {
  .scoreboard {
    height: 60vh;
    font-size: 14px;
  }
}

.scoreboard::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.scoreboard::-webkit-scrollbar-track {
  background-color: rgb(104, 104, 104);
  border-radius: 20px;
}

.scoreboard::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(128, 128, 128); /* creates padding around scroll thumb */
}

.scoreboard-stats {
  width: 80vw;
  display: flex;
  margin-top: 1vh;
  text-align: left;
  align-items: flex-start;
  align-items: center;
}
.scoreboard-stats .position-holder {
  width: 20vw;
  margin: 0 0 0 1vw;
}
.scoreboard-stats .position-holder img {
  height: 5vh;
  border-radius: 50%;
  width: 2vw;
}
@media (max-width: 575.98px) {
  .scoreboard-stats .position-holder img {
    width: 8vw;
    height: 4vh;
  }
}
.scoreboard-stats .player-holder {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.scoreboard-stats .player-points-holder p {
  margin: 0;
  text-decoration: none;
}
.scoreboard-stats .name {
  margin: 0;
}
@media (max-width: 575.98px) {
  .scoreboard-stats .name {
    margin-left: 2vw;
  }
}
.scoreboard-stats div p {
  font-size: 25px;
  margin-top: 1vh;
}
@media (max-width: 575.98px) {
  .scoreboard-stats div p {
    font-size: 13px;
  }
}

.scoreboard-stats-heading-holder {
  margin-top: 2vh;
}/*# sourceMappingURL=style.css.map */