.active-games-stats {
  background-color: rgb(99, 34, 172);
  overflow-y: scroll;
  height: 35vh;
  width: 35vw;

  opacity: 0.8;
  box-shadow: 1px 1px 2px black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media-xs {
    width: 80vw;
    height: 25vh;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    text-align: left;
    margin: 1vh;
  }
}
.active-games-stats::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.active-games-stats::-webkit-scrollbar-track {
  background-color: rgb(104, 104, 104);
  border-radius: 20px;
}

.active-games-stats::-webkit-scrollbar-thumb {
  background-color: rgb(3, 3, 3); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(128, 128, 128); /* creates padding around scroll thumb */
}
.active-games-heading-holder {
  p {
    font-weight: 700;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(83, 83, 83);

    @include media-xs {
      font-size: 14px;
    }
  }
}

.game-wrapper {
  display: flex;
  justify-content: flex-start;

  @include media-xs {
    justify-content: center;
    align-items: center;
  }

  .players-wrapper {
    text-align: start;
    width: 15vw;

    @include media-xs {
      width: 45vw;
      justify-content: center;
      text-align: center;
    }
    p {
      font-size: 14px;
      margin: 0;

      @include media-xs {
        font-size: 16px;
      }
    }
  }

  .select-winner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: flex-start;

    @include media-xs {
      align-items: center;
    }

    h5 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;

      @include media-xs {
        font-size: 12px;
      }
    }

    button {
      background-color: black;
      border-radius: 20px;
      padding: 0px 10px 0px 10px;
      color: white;
      min-width: 7vw;
      font-size: 16px;
      margin-right: 1vw;

      @include media-xs {
        width: 20vw;
        margin-top: 4px;
        font-size: 12px;
      }
    }

    button:hover {
      cursor: pointer;
    }
  }
}
