.backbtn-holder {
  width: 100vw;
  display: flex;

  button {
    margin: 3vh 0 0 3vw;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid gray;
    font-size: 10px;
  }

  button:hover {
    cursor: pointer;
  }
}
