.finished-games-stats {
  background-color: rgb(104, 104, 104);
  overflow-y: scroll;
  height: 45vh;
  width: 35vw;
  align-items: center;
  opacity: 0.8;
  box-shadow: 1px 1px 2px black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;

  @include media-xs {
    width: 80vw;
    height: 25vh;
  }

  li {
    list-style-type: none;
    text-align: left;
    margin: 1vh;
  }
}
.finished-games-stats::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.finished-games-stats::-webkit-scrollbar-track {
  background-color: rgb(104, 104, 104);
  border-radius: 20px;
}

.finished-games-stats::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(128, 128, 128); /* creates padding around scroll thumb */
}

.finished-games-heading-holder {
  p {
    font-weight: 700;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(83, 83, 83);

    @include media-xs {
      font-size: 14px;
    }
  }
}
.finished-games-stats {
  div {
    display: flex;
    .game-holder {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      select {
        height: 3vh;
      }
    }
  }
}

.game-players-wrapper {
  display: flex;
  margin: 1vh 0 0 0;
  text-align: center;

  @include media-xs {
    justify-content: space-evenly;
  }
  p {
    margin: 0 1vw;
    font-size: 17px;

    @include media-xs {
      font-size: 17px;
    }
  }

  .versus-para {
    font-size: 12px;
  }

  .winner {
    width: 10vw;

    @include media-xs {
      width: 25vw;
    }
  }

  .loser {
    text-align: flex-start;
    width: 10vw;
    @include media-xs {
      width: 25vw;
    }
  }
}

.finished-games {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .date-time {
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;

    p {
      margin: 0;
      font-size: 11px;

      @include media-xs {
        font-size: 12px;
      }
    }
  }
}
